*,
*::before,
*::after {
  box-sizing: border-box;
}

a.text {
    text-decoration: none;
    color: #000;
  }

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", "Verdana", sans-serif;
}

:root {
  --lemon: #f2f7b5;
  --grey: #a2a398;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0;
}

.header img {
  border-radius: 50%;
  border: 10px solid var(--lemon);
}

.header h1 {
  margin-top: 40px;
}

.header p {
  position: absolute;
  margin-top: 110px;
}

.main {
  display: flex;
}

.left-column {
  padding: 20px 0 0 20px;
  width: 75%;
  padding-right: 20px;
}

.left-column__list {
  list-style-type: none;
  line-height: 27px;
}

.left-column h2,
.right-column h2 {
  display: inline;
  border-bottom: 2px solid var(--grey);
}

.year-education {
font-size: 14px;
color: var(--grey);
}

.right-column {
  width: 25%;
  padding: 20px 20px 0 0;
}

.right-column__contacts ul {
  list-style-type: none;
  padding-left: 0;
}

.right-column__contacts li {
  margin-bottom: 10px;
}

.right-column__contacts li p {
  display: inline;
  vertical-align: middle;
}

.right-column__contacts li img {
  vertical-align: middle;
  margin-right: 15px;
}

.right-column__languages {
    line-height: 1rem;
    margin-top: 30px;
  }

.right-column__languages ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 30px;
}

pre {
  margin-left: -170px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey);
  padding: 20px;
  color: #fff;
}
